body {
    background: #544b4b;
}
.btn {
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 25px;
}
#input {
    color: rgb(211, 6, 30);
    font-weight: 700;
    font-size: 25px;
}
.calculator {
    background: #f1e8e8;
    box-shadow: 5px 5px 35px #000000;
}